{% set menuLogo %}
  <div class="image-container">
    <img class="logo" src="/images/transparent_logo.png" alt="">
  </div>
{% endset %}
{% set menuContent %}
  <nav>
    <ul>
      <li>{{ link('Dashboard', '', 'home') }}</li>
      <li>{{ link('Playback', '', 'playback') }}</li>
      <li>{{ link('Config', '', 'config') }}</li>
      <li>{{ link('Logout', '', 'logout') }}</li>
    </ul>
  </nav>
{% endset %}
<div class="menu display-on-small">
  {{ menuLogo }}
  <button class="hamburger hamburger--slider" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
  </button>
  <div class="menu-content">
    {{ menuContent }}
  </div>
</div>
<aside class="menu hide-on-small">
  {{ menuLogo }}
  {{ menuContent }}
</aside>